.modal-wrapper(data-modal-el="impressum")
  .modal.container
    .modal__heading
      h2.modal__title Datenschutzerklärung
      button.js-modal-close.modal__close 
        svg(width="20" height="20")
          use(xlink:href="sprite.svg#close_sprite") 
    .modal__content 
      h3 1. Datenschutz auf einen Blick
      h4 Allgemeine hinweise
      p Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
      h4 Datenerfassung auf dieser  Website
      h5 Wer ist Verantwortlich für die Datenerfassung auf dieser  Website?
      p Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      h5 Wie Erfassen wir ihre Daten?
      p Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
      h4 Datenerfassung auf dieser  Website
      h5 Wer ist Verantwortlich für die Datenerfassung auf dieser  Website?
      p Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      h5 Wie Erfassen wir ihre Daten?
      p Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
      p Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.
.modal-wrapper(data-modal-el="datenschutz")
  .modal.container
    .modal__heading
      h2.modal__title policy
      button.js-modal-close.modal__close 
        svg(width="20" height="20")
          use(xlink:href="sprite.svg#close_sprite") 
    .modal__content 
      h3 1. Datenschutz auf einen Blick
      h4 Allgemeine hinweise
      p Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
      h4 Datenerfassung auf dieser  Website
      h5 Wer ist Verantwortlich für die Datenerfassung auf dieser  Website?
      p Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      h5 Wie Erfassen wir ihre Daten?
      p Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
      h4 Datenerfassung auf dieser  Website
      h5 Wer ist Verantwortlich für die Datenerfassung auf dieser  Website?
      p Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      h5 Wie Erfassen wir ihre Daten?
      p Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
      p Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.